asgiref==3.11.1
Django==6.0.3
django-cors-headers==4.9.0
django-environ==0.13.0
djangorestframework==3.16.1
gunicorn==25.1.0
packaging==26.0
psycopg==3.3.3
psycopg-binary==3.3.3
ruff==0.15.5
sqlparse==0.5.5
whitenoise==6.12.0
